In [5]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [6]:
df = pd.read_csv('ss13hil.csv')
df.head()

,RT,SERIALNO,DIVISION,PUMA,REGION,ST,ADJHSG,ADJINC,WGTP,NP,...,wgtp71,wgtp72,wgtp73,wgtp74,wgtp75,wgtp76,wgtp77,wgtp78,wgtp79,wgtp80
0,H,33,3,1300,2,17,1000000,1007549,12,3,...,19,12,15,15,22,13,13,17,6,6
1,H,37,3,800,2,17,1000000,1007549,65,1,...,22,80,92,26,66,46,22,63,13,120
2,H,51,3,105,2,17,1000000,1007549,171,0,...,61,182,52,302,148,49,52,161,177,179
3,H,79,3,300,2,17,1000000,1007549,56,1,...,56,93,48,16,66,68,16,59,106,98
4,H,95,3,1104,2,17,1000000,1007549,201,4,...,158,209,293,193,207,212,387,62,59,217

### Identify the Count of the given data

In [8]:
df['SERIALNO'].value_counts()

1054717    1
277714     1
482558     1
607485     1
1002748    1
          ..
1116234    1
1007687    1
1482815    1
305214     1
131072     1
Name: SERIALNO, Length: 58206, dtype: int64

In [10]:
# notice: installing seaborn might takes a few minutes
!conda install -c anaconda seaborn -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.